<table>
  <tbody>

    <tr>
      <th>Project</th>
      <td>
        <input type="text" id="project" 
                           value="<%= settings['project'] %>" 
                           name="settings[project]" >
      </td>
    </tr>
    
    <tr>
      <th>Calibre library</th>
      <td>
        <input type="text" id="calibre_library" 
                           value="<%= settings['calibre_library'] %>" 
                           name="settings[calibre_library]" >
      </td>
    </tr>

    <tr>
      <th>Protocol</th>
      <td>
        <label for="calibre_web_protocol_http">http</label>
        <input type="radio" id="calibre_web_protocol_http" 
                           value="http" 
                           name="settings[calibre_web_protocol]" >
      </td>
      <td>
        <label for="calibre_web_protocol_https">https</label>
        <input type="radio" id="calibre_web_protocol_https" 
                           value="https" 
                           name="settings[calibre_web_protocol]" >
      </td>
    </tr>

    <tr>
      <th>Calibre Web hostname</th>
      <td>
        <input type="text" id="calibre_web_hostname" 
                           value="<%= settings['calibre_web_hostname'] %>" 
                           name="settings[calibre_web_hostname]" >
      </td>
    </tr>

    <tr>
      <th>Calibre Web port</th>
      <td>
        <input type="text" id="calibre_web_port" 
                           value="<%= settings['calibre_web_port'] %>" 
                           name="settings[calibre_web_port]" >
      </td>
    </tr>


  </tbody>
</table>